<template>
  <h1 class="title">Home</h1>
  <p v-if="emptyFollowers">
    Abonnez vous aux utilisateurs pour voir appaître leurs derniers tweets !
  </p>
  <tweet-view
    v-for="(tweet, index) in followersTweets"
    :key="index"
    :tweet-data="tweet"
  />
</template>

<script>
import tweetData from "../data/tweet.json";
import TweetView from "../components/TweetView";

export default {
  name: "profile",
  components: {
    TweetView,
  },
  data() {
    return {
      allTweet: tweetData.tweet,
      myFollow: this.$store.state.myFollow,
      followersTweets: [],
    };
  },
  created: function () {
    this.allTweet.forEach((t) => {
      this.myFollow.forEach((f) => {
        if (t.from === f) {
          this.followersTweets.push(t);
        }
      });
    });
    this.followersTweets.sort(function (a, b) {
      return new Date(b.date) - new Date(a.date);
    });
    return this.followersTweets;
  },
  computed: {
    emptyFollowers() {
      return this.$store.state.myFollow == 0 ? true : false;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
