<template>
  <h1 class="title">{{ accountName }}</h1>

  <h2>Mes abonnements :</h2>
  <ul>
    <li v-for="(name, id) in myFollow" :key="id">
      <router-link
          :to="{ name: 'User', params: { userId: id, user: name} }"
          class="text-indigo-500 text-sm"
          >{{ name }}</router-link
        >
    </li>
  </ul>

  <add-tweet-view @add-tweet="addTweet" />

  <h1 class="title">Derniers tweets</h1>

  <tweet-view
    v-for="(tweet, index) in this.$store.state.myTweet"
    :key="index"
    :tweet-data="tweet"
  />
  <tweet-view
    v-for="(tweet, index) in myTweet"
    :key="index"
    :tweet-data="tweet"
  />
</template>

<script>
import accountData from "../data/account.json";
import tweetData from "../data/tweet.json";
import TweetView from "../components/TweetView";
import AddTweetView from "../components/AddTweetView";

export default {
  name: "profile",
  components: {
    TweetView,
    AddTweetView,
  },
  data() {
    return {
      account: accountData.account,
      allTweet: tweetData.tweet,
      myTweet: [],
    };
  },
  created: function () {
    console.log(this.allTweet)
    this.allTweet.forEach((t) => {
      if (t.from === this.account[0].name) {
        this.myTweet.push(t);
      }
    });

    this.myTweet.sort(function (a, b) {
      return new Date(b.date) - new Date(a.date);
    });
    return this.myTweet;
  },
  computed: {
    accountName() {
      return this.account[0].name;
    },
    myFollow() {
      return this.$store.state.myFollow;
    },
  },
  methods: {
    addTweet(text) {
      if (text != "") {
        const today = new Date().toLocaleDateString();
        var newTweetTmp = {
          text: text,
          from: this.account[0].name,
          date: today,
        };
        this.$store.state.myTweet.push(newTweetTmp);
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
