<template>
  <h1 class="title">Profil de {{ name }}</h1>
  <base-button
    v-if="name != 'Mathilde' && !isFollowing"
    @click="follow"
    text="S'abonner"
  />
  <base-button
    v-if="name != 'Mathilde' && isFollowing"
    @click="unfollow"
    text="Se désabonner"
  />

  <p v-if="!hisTweet.length">Aucun tweet !</p>
  <tweet-view
    v-for="(tweet, index) in hisTweet"
    :key="index"
    :tweet-data="tweet"
  />
</template>

<script>
import tweetData from "../data/tweet.json";
import TweetView from "../components/TweetView";

export default {
  name: "user",
  components: {
    TweetView,
  },
  data() {
    return {
      allTweet: tweetData.tweet,
      userId: this.$route.params.userId,
      name: this.$route.params.user,
      hisTweet: [],
    };
  },
  created: function () {
    this.allTweet.forEach((t) => {
      if (t.from === this.$route.params.user) {
        this.hisTweet.push(t);
      }
    });
    this.hisTweet.sort(function (a, b) {
      return new Date(b.date) - new Date(a.date);
    });
    return this.hisTweet;
  },
  computed: {
    isFollowing() {
      return this.$store.state.myFollow.includes(this.name) ? true : false;
    },
  },
  methods: {
    follow() {
      this.$store.state.myFollow[this.userId] = this.name;
    },
    unfollow() {
      this.$store.state.myFollow.pop(this.userId);
    },
  },
};
</script>

<style scoped>
</style>
