<template>
  <h1 class="title">Liste des utilisateurs</h1>
  <user-view
    v-for="(account, index) in account"
    :key="index"
    :user-data="account"
  />
</template>

<script>
import accountData from "../data/account.json";
import UserView from "../components/UserView";

export default {
  name: "users",
  props: ["user-data"],
  components: {
    UserView
  },
  data() {
    return {
      account: accountData.account,
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
