<template>
    <div class="flex items-center justify-center p-4">
        <div class="w-full mx-auto" style="max-width: 400px">
            <div class="w-full mb-4 shadow rounded-lg bg-white">
                <textarea v-model="text" class="w-full p-4 focus:outline-none" placeholder="Tweetez !" />
            </div>
            <div class="w-full text-right mb-4">
                <base-button @click="addTweet" text="Tweeter"/>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: "add-tweet",
   data() {
    return {
      text: '',
    }
  },
  methods: {
      addTweet() {
          this.$emit('add-tweet', this.text)
          this.text = '';
      }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.text {
    @apply font-mono;
}
</style>
