<template>
<!-- component -->
    <div class="flex items-center justify-center p-4">
        <div class="w-full mx-auto rounded-lg bg-white shadow p-5" style="max-width: 400px">
            <div class="w-full mb-4">
                <div class="flex-grow">
                    <h6 class="font-bold text-md">{{ tweet.from }}</h6>
                </div>
            </div>
            <div class="w-full mb-4">
                <p class="text-sm">"{{ tweet.text }}"</p>
            </div>
            <div class="w-full">
                <p class="text-xs text-gray-500 text-right">{{ tweet.date }}</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: "tweet-view",
  props: ['tweet-data'],
   data() {
    return {
      tweet: this.tweetData,
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.text {
    @apply font-mono;
}
</style>
