<template>
  <!-- component -->
  <div class="flex items-center justify-center p-4">
    <div
      class="w-full mx-auto rounded-lg bg-white shadow p-5"
      style="max-width: 400px"
    >
      <div class="w-full mb-4">
        <div class="flex-grow">
          <h6 class="font-bold text-md">{{ user.name }}</h6>
        </div>
      </div>
      <div class="w-full">
        <router-link
          :to="{ name: 'User', params: { userId: user.id, user: user.name} }"
          class="text-indigo-500 text-sm"
          >Voir le profil</router-link
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "user-view",
  props: ["user-data"],
  data() {
    return { user: this.userData };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
