<template>
  <div id="app">
    <div id="nav" class="m-4">
<nav-bar />
    </div>
    <router-view />
  </div>
</template>


<script>
export default {
  name: 'App',
}
</script>

<style>
body {
  @apply bg-blue-200
 
}

html {
  margin:0 !important;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  @apply font-bold;
}

.title {
  @apply font-mono text-xl m-4;
}
</style>
