<template>
    <button
        class="btn-default">{{ text }}</button>
</template>

<script>
export default {
  name: "base-button",
  props: {
      text: String,
      disabled: Boolean,
  }
};
</script>

<style scoped>
    .btn-default {
        @apply border border-indigo-500 bg-indigo-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 select-none hover:bg-indigo-600 focus:outline-none
    }

</style>
