<template>
<nav class="bg-blue-900 flex space-around">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">

        <button class="inline-flex items-center justify-center p-2 rounded-md text-blue-400 hover:text-white hover:bg-blue-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
 
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>

          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex-1 flex space-around items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 flex items-center">
          <img class="block lg:hidden h-8 w-auto" src="https://clipground.com/images/autodesk-maya-logo-png-2.jpg" alt="Mayan">
          <img class="hidden lg:block h-8 w-auto" src="https://clipground.com/images/autodesk-maya-logo-png-2.jpg" alt="Mayan">
        </div>
        <div class="hidden sm:block sm:ml-6">
          <div class="flex space-x-4">
            <router-link to="/" class="px-3 py-2 rounded-md text-sm font-medium text-white hover:bg-indigo-200">Home</router-link>
            <router-link to="/users" class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-indigo-200">Utilisateurs</router-link>
            <router-link to="/profile" class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-indigo-200">Profil</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hidden sm:hidden">
    <div class="px-2 pt-2 pb-3 space-y-1">
        <router-link to="/" class="px-3 py-2 rounded-md text-sm font-medium text-white bg-gray-900">Home</router-link>
        <router-link to="/users" class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700">Utilisateurs</router-link>
        <router-link to="/profile" class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700">Profil</router-link>
    </div>
  </div>
</nav>

</template>


<script>
export default {
  name: "nav-bar"
 
};
</script>

<style>

</style>